<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css" media="all">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about_me">Обо мне</a></li>
                <li><a href="/feed">Лента</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
        {{ if .isAuthenticated }}
        <div class="user-profile">
            <img src="{{ .user.image}}" alt="Аватар" class="user-avatar">
            <span>{{ .suer.name }}</span>
        </div>
        {{ else }}
        <div class="auth-buttons">
            <a href="/login">Войти</a>
            <a href="/register">Зарегистрироваться</a>
        </div>
        {{ end }}
    </header>

    <main>
        {{ block "content" . }}{{ end }}
    </main>
</body>

</html>
